<launch>
  <!-- Arguments参数 -->
  <arg name="car_mode"  default="" />
  <arg name="if_voice" default="false"/>




  
  <!--坐标变换，需要实测 -->
  <!--阿克曼系列 -->
  <!-- car_mode and tf  mini_akm-->
  <group if="$(eval car_mode == 'mini_akm')">
   <!-- 用于robot_pose_ekf节点，后面同理不再赘述-->
   <node pkg="tf" type="static_transform_publisher" name="base_to_gyro" args="0 0 0 0 0 0 base_footprint gyro_link 100" />
  </group>
  

  <!-- URDF 标准化机器人描述格式 -->
  <!--阿克曼系列 -->
  <group if="$(eval car_mode == 'mini_akm')">
      <param name = "robot_description" textfile = "$(find turn_on_wheeltec_robot)/urdf/mini_akm_robot.urdf"/> 
  </group>
 

  
  <!-- 读取urdf信息(robot_description) 发布话题：/joint_states-->
  <node unless="$(eval (car_mode=='mini_mec_moveit_six' or car_mode=='mini_4wd_moveit_six') and if_voice==true)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <!-- 订阅话题：/joint_states，发布小车TF信息-->
  <!-- <node unless="$(eval (car_mode=='mini_mec_moveit_six' or car_mode=='mini_4wd_moveit_six') and if_voice==true)" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="base_link" to="ugv_base_link" />
</node> -->
<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="base_link" to="ugv_base_link" />
  </node>

  
  <!-- 用于robot_state_publisher节点-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0 0 0 0 base_footprint ugv_base_link 100" />
 </launch>


