<launch>
<node pkg="tf" type="static_transform_publisher" name="camera_link_to_base_link"
        args="0 0 0 0 0 0 /base_link /t265_link 100" />   

        <node pkg="tf" type="static_transform_publisher" name="world_to_odom_combined"
      args="0 0 0 0 0 0 /world /odom_combined 10" />



</launch>
