<?xml version="1.0" ?>
<robot name="wheeltec_robot">

    <link name="base_link">
        <visual>
            <origin xyz=" 0 0 0.09" rpy="0 0 0" />
            <geometry>
                <cylinder length="0.08" radius="0.19"/>
            </geometry>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
    </link>   

    <link name="front_wheel">
        <visual>
            <origin rpy="0 1.57 0" xyz="0 0 0.0"/>
            <geometry>
                <cylinder length="0.04" radius="0.0635"/>
            </geometry>
            <material name="black">
                <color rgba="0 0 0.8 1"/>
            </material>
        </visual>
    </link>

    <link name="left_wheel">
        <visual>
            <origin rpy="0 1.57 -1.05" xyz="0 0 0.0"/>
            <geometry>
                <cylinder length="0.04" radius="0.0635"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 0.8 1"/>
            </material>
        </visual>
    </link>

    <link name="right_wheel">
        <visual>
            <origin rpy="0 1.57 1.05" xyz="0 0 0.0"/>
            <geometry>
                <cylinder length="0.04" radius="0.0635"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 0.8 1"/>
            </material>
        </visual>
    </link>

    <joint name="base_to_front_wheel" type="fixed">
        <parent link="base_link"/>
        <child link="front_wheel"/>
        <origin rpy="0 0 0" xyz="0.2 0 0.0635"/>
    </joint>

    <joint name="base_to_left_wheel" type="fixed">
        <parent link="base_link"/>
        <child link="left_wheel"/>
        <origin rpy="0 0 0" xyz="-0.1 0.17 0.0635"/>
    </joint>

    <joint name="base_to_right_wheel" type="fixed">
        <parent link="base_link"/>
        <child link="right_wheel"/>
        <origin rpy="0 0 0" xyz="-0.1 -0.17 0.0635"/>
    </joint>

    </robot>