<launch>
	<!-- run the position_control.cpp -->

	<node pkg="px4_command" type="px4_truth_estimator" name="px4_truth_estimator" output="screen">

		<!-- load blacklist, config -->
                <rosparam command="load" file="$(find px4_command)/config/px4_truth_estimator.yaml" />
	</node>
</launch>
